<header>
  <h1>Nayela Wickramasuriya</h1>
</header>

<div class="intro">
  <div class="tldr-intro">
    <h2>TL;DR</h2>
    <p>Software developer, bibliophile, hobbyist writer/runner/yoga doer.</p>
  </div>

  <div class="gottime-intro">
    <h2>'Got Time' Intro</h2>
    <p>Software developer currently working at <a href="https://home.38degrees.org.uk/" target="_blank">38 Degrees</a> as a Campaign Technologist.</p>
    <p>I also like writing in my spare time.</p>
    <p>One day I hope to complete an ultramarathon.</p>
    <p>I really love dogs.</p>

    <%= image_tag("dog.jpg", alt: "The Creation of Adam with Dog", style: 'display: left; margin-top: 20px; width: 40%;')%>
  </div>

</div>
