<div class="banner">
  <h1>My website is finally live!</h1>
  <h3>If my past performance is anything to go by, it will look like this for the next year. </h3>
</div>

<div class="container">
  <div class="cards">
  </div>
</div>

<div class="footer">
</div>
