<body class="past-body">
  <div class="past">
    <h1>My website is finally live!</h1>
    <h3>If my past performance is anything to go by, it will look like this for the next year. </h3>

    <p class="past-p">(Pleased to report it only looked like this for about 9 months.)</p>
  </div>

  <div class="back-button">
    <p class="past-p"><%= link_to "back to safety", root_path%></p>
  </div>
</body>
