// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.banner {
  background-image:url('images/ocean.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}
